* {
    font-family: "Cabin", sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: #273e92;
    color: #fff;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    
}

h1 {
    margin: 0;
    text-align: center;
}

nav img {
    display: flex;
}

#sliding_nav {
    display: none;
}

#sliding_nav ul {
    font-size: 36px;
    list-style: none;
}

main {
    max-width: 1000px;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    main {
        max-width: 100%;
        margin: auto;
    }
}

footer {
    background-color: #273e92;
    max-width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

a:link {
    text-decoration: none;
    color: #fff;
}

a:visited {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #000;
}

a:active {
    text-decoration: none;
    color: #fff;
}

.main_img {
    max-width: 1000px;
}

@media screen and (max-width: 1000px) {
    .main_img {
        max-width: 100%;
    }
}
.img_text {
    position: relative;
    text-align: center;
    color: #fff;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 46px;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
  }

  .logo {
    height: 50px;
    width: 50px;
    padding-right: 10px;

  }

  #nav_btn {
    height: 50px;
    width: 50px;
    padding-left: 10px;
  }

  #nav_btn:hover {
    cursor: pointer;
  }

  .nav_foot ul {
    font-size: 20px;
    list-style: none;
    display: flex;
  }

  .nav_foot ul li {
    padding: 15px 15px 0 15px;
  }

  a.icon {
    font-size: 36px;
    padding: 30px 0 0 0;
    color: #000;
    display: flex;
    
  }

  a.icon:hover {
    color: #fff;
  }

  .copy {
    padding: 30px 0 0 30px;
    text-align: center;
  }
  

