/* sets cabin font to entire document */
* {
    font-family: "Cabin", sans-serif;
}

/* zeroed margin for body as well as define light mode characteristics */
body {
    margin: 0;
    background-color: #fff;
    color: #000;
}

/* dark mode colours, initially hidden */
.dark_mode {
    background-color: #000;
    color: #fff;
  }

header {
    background-color: #273e92;
    color: #fff;
    /* uses whole screen width */
    max-width: 100%;
    /* makes header a flex box */
    display: flex;
    justify-content: space-between;
    
}

h1 {
    margin: 0;
    text-align: center;
    flex: 1;
}

hr {
    border: 1px solid #000; 
}

/* nav container positions dropdown box */
#nav_head {
    position: relative;
    display: inline-block;  
}

nav img {
    display: flex;
}

/* dropdown box starts hidden*/
#sliding_nav {
    display: none;
    position: absolute;
    background-color: #273e92;
    min-width: 250px;
    /* brings layer to front */
    z-index: 1;
}

/* adjusts dropdown box on small screens to not cover header */
@media screen and (max-width: 500) {
    #sliding_nav {
        margin-top: 22px;
    }
}

#sliding_nav ul {
    font-size: 36px;
    list-style: none;
}

/* limits main section 1000px width on large screens */
main {
    max-width: 1000px;
    margin: auto;
    min-height: 90vh; /* forces minimum view height, pushing footer to bottom of screen*/
}

/* smaller screens use full width for main section */
@media screen and (max-width: 1000px) {
    main {
        max-width: 100%;
        margin: auto;
    }
}

/* footer flex box, full screen width */
footer {
    background-color: #273e92;
    max-width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

footer .social_container {
  display: flex;
  padding-bottom: 1rem;
}

footer .social_container a {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* next 4 selectors create link hover effect and emeove hyperlink underline */
a:link {
    text-decoration: none;
    color: #fff;
}

a:visited {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #000;
}

a:active {
    text-decoration: none;
    color: #fff;
}

/* limits main image size to max 1000px in large screens */
.main_img {
    max-width: 1000px;
}

/* full screen coverage for image in smaller screens */
@media screen and (max-width: 1000px) {
    .main_img {
        max-width: 100%;
    }
}

/* positions texs on main image */
.img_text {
    position: relative;
    text-align: center;
    color: #fff;
  }

  /* styles text on image */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 46px;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
  }

  .logo {
    height: 50px;
    width: 50px;
    padding-right: 10px;
  }

  #nav_btn {
    height: 50px;
    width: 50px;
    padding-left: 10px;
  }

  /* changes cursor when hovering over hamburger */
  #nav_btn:hover {
    cursor: pointer;
  }

  .nav_foot ul {
    font-size: 20px;
    list-style: none;
    display: flex;
  }

  .nav_foot ul li {
    padding: 15px 15px 0 15px;
  }

  /* style and alignment social media icons */
  a.icon {
    font-size: 36px;
    padding: 30px 0 0 0;
    color: #000;
    display: flex;
  }

  /* hover effect for social icons */
  a.icon:hover {
    color: #fff;
  }

  .copy {
    padding: 30px 0 0 30px;
    text-align: center;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 36px;
    text-decoration: underline;
  }

  h4 {
    font-size: 28px;
  }

  .date_duration {
    font-size: 20px;
  }

  .description {
    font-size: 18px;
  }

  #dm_btn {
    margin-top: 10px;

  }

  /* hides checkbox */
  .checkbox {
    opacity: 0;
    position: absolute;
  }

  /* style for dark mode button background */
  .label {
    width: 50px;
    height: 26px;
    background-color:#111;
    border-radius:50px;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
  }

  /* ball design and movement */
  .ball {
    width: 19px;
    height: 19px;
    background-color: #fff;
    position: absolute;
    top: 4px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }

  /* slides the ball when clicked */
  .checkbox:checked + .label .ball{
    transform: translateX(18px);
  }

  .fa-sun {
    color: #fff;
  }

  .form_label {
    padding-right: 1rem;
  }
  
  #email {
    margin-left: 21px;
  }

  #location {
    padding-right: 102px;
  }

  #trip-date {
    margin-left: 11.5px;
    padding-right: 52.5px;
  }

  .form_btn {
    width: 5rem;
    border-radius: 5px;
    margin-top: 1rem;
  }

  .form_btn:hover {
    background-color: rgb(75, 74, 74);
    color: #fff;
  }

  

